@page "/checkinlist"
@using Contracts.Checkins.ViewModels
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnvironment

<h1>Checkins</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (checkinList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usder Id</th>
                <th>Created at</th>
                <th>Beer name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var checkin in checkinList.Items)
            {
                <tr>
                    <td>@checkin.CheckinId</td>
                    <td>@checkin.UserId</td>
                    <td>@checkin.CreatedAt</td>
                    <td>@checkin.BeerName</td>
                    <td>
                        @* <NavLink href="CommentCheckin/@checkin.CheckinId.ToString()" ></NavLink> *@
                        <button @onclick="() => CommentCheckin(checkin.CheckinId)">Kommentieren</button>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>

    <button @onclick="CreateCheckin">Neuer Checkin</button>

    <p>Environment: @HostEnvironment.Environment</p>

}

@code {
    private CheckinListViewModel checkinList;

    protected override async Task OnInitializedAsync()
    {
        var checkinListUrl = Configuration["Dependencies:APIs:CheckinsApiBaseUrl"];
        checkinList = await Http.GetFromJsonAsync<CheckinListViewModel>(checkinListUrl);
    }

    private void CreateCheckin()
    {
        NavigationManager.NavigateTo("CreateCheckin");
    }
    
    private void CommentCheckin(Guid checkinId)
    {
        NavigationManager.NavigateTo($"CommentCheckin/{checkinId}");
    }

}
